@import '../../../bin/variables';
body {
    margin: 0;
}

.business {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 10px;
    // grid-row-gap: 20px;
    /* height: 100vh; */
    /* grid-template-areas: "header header"
                         "left contenido"
                         "footer footer"; */
    /* justify-content: center; */
    align-items: center;
    @if $border {
        border: 1px solid red;
    }
}

.menu{
    @if $border {
        border: 1px solid red;
    }
}

.content{
    @if $border {
        border: 1px solid red;
    }
}